## Läs in fil och spara det i olika variabler 
ändra column namn

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Läs in filerna
df_svenska = pd.read_excel("visualiseringar\\riket2023_åk9_np (1).xlsx", skiprows=8, sheet_name="Svenska")
df_engelska = pd.read_excel("visualiseringar\\riket2023_åk9_np (1).xlsx", skiprows=8, sheet_name="Engelska")
df_matematik = pd.read_excel("visualiseringar\\riket2023_åk9_np (1).xlsx", skiprows=8, sheet_name="Matematik")
df_sva = pd.read_excel("visualiseringar\\riket2023_åk9_np (1).xlsx", skiprows=8, sheet_name="Svenska som andraspråk")

# Byt kolumnnamn så de blir lättare att förstå
columns = ["Plats", "Huvudman", "Totalt_A_F", "Flickor_A_F", "Pojkar_A_F",
           "Totalt_A_E", "Flickor_A_E", "Pojkar_A_E", "Totalt_poäng", "Flickor_poäng", "Pojkar_poäng"]

df_svenska.columns = columns
df_engelska.columns = columns
df_matematik.columns = columns
df_sva.columns = columns

,Plats,Huvudman,Totalt_A_F,Flickor_A_F,Pojkar_A_F,Totalt_A_E,Flickor_A_E,Pojkar_A_E,Totalt_poäng,Flickor_poäng,Pojkar_poäng
0,Riket,Samtliga,14092,6447,7645,77.7,81.6,74.3,9.4,10.2,8.7
1,Riket,Kommunal,11963,5495,6468,75.9,80,72.4,9,9.9,8.3
2,Riket,Enskild,2122,949,1173,87.7,90.9,85.2,11.1,12,10.4
3,Riket,Skolverket,..,..,..,..,..,..,..,..,..